a:link, a:visited{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-decoration-color: black;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    list-style-type: none;
    text-decoration: black;
    color: black;
    text-decoration-style: none;
}

body, h1, h2, h3, h4, h5, h6{
    font-family: Helvetica, Arial, sans-serif;
    text-decoration-color: black;
}

.header1{
    padding-left: 1em;
    font-size: 50px;
}

p{
    font-family: Helvetica, Arial, sans-serif;
}

.eerstealinea{
    text-align: center;
    text-align: justify;
    width: 1000px;
    margin: 0 auto;
}

div{
    height: 50px;
}

.introirma{
    display: flex;
    gap: 5em;
    width: 600px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: orange;
    padding-left: 5em;
    color: white;
    font-weight: bold;
}

.footernavigatie{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-decoration-color: black;
    flex-direction: column;
    text-align: start;
    padding-right: 1em;
    list-style-type: none;
    text-decoration: black;
    color: black;
}

.navigatie{
    text-align: end;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-decoration-color: black;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    list-style-type: none;
    text-decoration: black;
    color: black;
}

.aanbodquote{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.eersteaanbodalinea{
    text-align: center;
    text-align: justify;
    width: 1000px;
    margin: 0 auto;
}

.tweedeaanbodalinea{
    text-align: center;
    text-align: justify;
    width: 1000px;
    margin: 0 auto;
}

.kleinewitregel{
    height: 25px;
}

.linknaaraanbod{
    text-align: center;
    width: 1000px;
    margin: 0 auto; 
}